<?xml version='1.0' encoding='utf-8'?>
<widget id="io.sahana.sambro.mobile" version="0.0.17" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SAMBRO mobile</name>
    <description>
        SAMBRO mobile client
    </description>
    <author email="angga.bayu.marthafifsa@gmail.com">
        Angga Bayu
    </author>
    <content src="index.html" />
    <icon src="www/sahana-sunflower-512.png" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.2.1" />
    <plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />
    <plugin name="cordova-plugin-geolocation" source="pgb" spec="1.0.1" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" spec="2.1.1" />
    <plugin name="io.litehelpers.cordova.sqlite" source="pgb" spec="0.7.10" />
    <plugin name="cordova-plugin-network-information" source="pgb" spec="1.0.1" />
    <plugin name="com.phonegap.plugins.PushPlugin" source="pgb" spec="2.5.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="2.2.0" />
    <plugin name="com.sharinglabs.cordova.plugin.cache" source="pgb" spec="1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" source="pgb" spec="1.0.1" />
    <plugin name="cordova-plugin-app-version" source="pgb" spec="0.1.8" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="ios" spec="~3.9.2" />
</widget>
