<link rel="stylesheet" type="text/css" href="app/components/login/login.css">

<md-content class="content" layout="column" style="background: #e2a704;" flex>
  <div style="height:40px;"></div>
  <div layout="row">
    <div flex="5"></div>
      <div layout="column" flex="90">
        <div layout="row" layout-align="space-around center" flex="20">
            <img src="cap.png">
        </div>
        <form style="margin:1em auto;" name="loginForm" novalidate flex="80">

          <div ng-show="login.loginFormContainer">
              <md-input-container class="md-block" md-no-float>
                  <input type="email" name="email" ng-model="login.loginForm.email" placeholder="Email"
                         ng-pattern="/^.+@.+\..+$/" required>
                  <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched" role="alert" multiple>
                      <div ng-message="required">
                          <span >Email field is required</span>
                      </div>
                      <div ng-message="pattern">
                          <span >Email must be a valid e-mail address</span>
                      </div>
                  </div>
              </md-input-container>

              <md-input-container class="md-block" md-no-float>
                  <input type="password" name="password" ng-model="login.loginForm.password" placeholder="Password"
                         required>
                  <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" role="alert">
                      <div ng-message="required">
                          <span >Password field is required</span>
                      </div>
                  </div>
              </md-input-container>
              
                <md-button type="submit" class="md-raised md-accent" aria-label="LOG IN" style="width:90%;"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="login.sendForm();">
                    LOG IN
                </md-button>
                <div ng-hide="login.hideErrorMessage" class="msg-wrong-pass md-warn-fg text-center">Username or Password is Wrong</div>   

                <md-button type="submit" class="md-raised md-accent" aria-label="Server Url" style="width:90%;"
                           ng-click="login.clickChangeServerUrl()">
                    Change server url
                </md-button> 
                
          </div>
          <div ng-show="login.directLoginContainer">
              <md-button class="md-raised md-accent" aria-label="{{login.userName}}" style="width:90%;"
                           ng-click="login.clickDirectLogin()">
                    {{login.userName}}
                </md-button>
                <h4></h4>
              <div class="md-accent-fg text-center" ng-click="login.clickSelectLogin()">Not your account name?</div>   
          </div>
          <div ng-show="login.selectLoginContainer">
              <div ng-repeat="dataUser in login.dataUsers" layout="row">
                <md-button class="md-raised md-accent" aria-label="{{login.userName}}" style="width:90%;"
                           ng-click="login.clickDirectLoginUsers(login.dataUsers.indexOf(dataUser))">
                    {{dataUser.email}}
                </md-button>
                <md-button ng-click="login.clickDeleteUser(login.dataUsers.indexOf(dataUser))" class="md-icon-button" aria-label="Delete">
                  <ng-md-icon icon="delete"></ng-md-icon>
                </md-button>
              </div>  
              
                <h4></h4>
              <div class="md-accent-fg text-center" ng-click="login.clickToLoginForm()">Different account?</div>  
              <div style="padding-top: 10px;" class="md-accent-fg text-center" ng-click="login.clickChangeServerUrl()">Change server url</div> 
          </div>

          <div ng-show="login.serverUrlChangeContainer">
              <md-input-container class="md-block" md-no-float>
                  <input type="text" name="serverUrl" ng-model="login.serverUrl" placeholder="Server Url" required>
                  <div ng-messages="loginForm.serverUrl.$error" ng-show="loginForm.serverUrl.$touched" role="alert" multiple>
                      <div ng-message="required">
                          <span >Server url field is required</span>
                      </div>
                      
                  </div>
              </md-input-container> 

              <div layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" aria-label="Cancel"
                         ng-click="login.cancelChangeServerUrl();">
                  Cancel
                </md-button>  
                <md-button type="submit" class="md-raised md-accent" aria-label="LOG IN" style="width:90%;" ng-click="login.submitChangeServerUrl();">
                    Change
                </md-button>
              </div>

              
          </div>

          
        </form>
          
      </div>
    <div flex="5"></div>
  </div>
  <div style="height:10px;"></div>
</md-content>



