  .mainToolbar{position: fixed; padding-top:25px;}
  .addTopButton{position:absolute;right:5px;top:80px;}
  .sideLeftNavTopBar{padding-top:25px;}
  .spaceTop{height:105px;}
  .spaceBottom{height:10px;}
