<style type="text/css">
  .msgRequired{color:#c9161c;font-size:small;}
  .selectedList{background-color:darkgray;}
  .unSelectedList{background-color:white;}
  #map { height: 100%; display: none;}
</style>
<md-toolbar class="mainToolbar" flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button ng-click="alertForm.goBack()"> {{alertForm.btnBackName}} </md-button>
    <p>{{ alertForm.title }}</p>
    <md-button ng-disabled="alertForm.disabledNextBtn()" ng-click="alertForm.goNext()"> {{alertForm.btnNextName}} </md-button>
    
  </div>
  
</md-toolbar>

<md-sidenav style="z-index:1001;" class="md-sidenav-right" md-component-id="baseMapContent">
  <md-toolbar class="sideLeftNavTopBar">
    <h1 class="md-toolbar-tools">Base Map</h1>
  </md-toolbar>
  <md-list ng-cloak>
    <md-list-item ng-click="alertForm.changeMap('osm')">

      <div layout="column" layout-align="center center" flex>
          <img src="assets/images/basemap/osm.png" width="80" height="50" class="md-card-image" alt="Open Street Map">
          <strong>Open Street Map</strong>
      </div>
    </md-list-item>
    <md-list-item ng-click="alertForm.changeMap('gstreet')">
      <div layout="column" layout-align="center center" flex>
          <img src="assets/images/basemap/Gstreet.png" width="80" height="50" class="md-card-image" alt="Google Street">
          <strong>Google Street</strong>
      </div>
    </md-list-item>
    <md-list-item ng-click="alertForm.changeMap('gsal')">
      <div layout="column" layout-align="center center" flex>
          <img src="assets/images/basemap/Gsatelite.png" width="80" height="50" class="md-card-image" alt="Google Satellite">
          <strong>Google Satellite</strong>
      </div>
    </md-list-item>
  </md-list>
  <md-button ng-click="alertForm.closeBaseMap()" class="md-primary">
      Close
    </md-button>
</md-sidenav>

<div id="map" ></div>

<md-content id="content-alert-form" class="content" layout="column" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" flex>
  <div class="spaceTop"></div>
  <div layout="row">
    <div flex="5"></div>
      <md-whiteframe class="md-whiteframe-3dp" layout="column" flex="90">

      <md-progress-linear md-mode="determinate" value="{{alertForm.progress}}"></md-progress-linear>
      <div ng-hide="alertForm.checkPageShow('event-type')">  
        <md-subheader class="md-no-sticky">Event Types ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('event-type')].loadData"></md-progress-linear>
        <md-list-item id="event-type-opt_{{dataEventTypeOption['@value']}}" class="event-type-opt unSelectedList" ng-repeat="dataEventTypeOption in alertForm.dataEventTypeOptions" ng-click="alertForm.clickEventTypeOption($event,dataEventTypeOption)">
          <img alt="{{ dataEventTypeOption.$ }}" ng-src="{{alertForm.evenTypeIcon(dataEventTypeOption.$)}}" class="md-avatar" />
          <p>{{dataEventTypeOption.$}}</p>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.checkPageShow('status')">  
        <md-subheader class="md-no-sticky">Status ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('status')].loadData"></md-progress-linear>
        <md-radio-group ng-model="alertForm.dataAlertForm.status" >
          <md-list-item ng-repeat="dataStatusOption in alertForm.dataStatusOptions" >
            <md-radio-button flex
                ng-value="dataStatusOption['@value']"
                class="md-primary" >
                {{dataStatusOption['@value']}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>
      </div>

      <div ng-hide="alertForm.checkPageShow('msgType')">  
        <md-subheader class="md-no-sticky">Message Type ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('msgType')].loadData"></md-progress-linear>
        <md-radio-group ng-model="alertForm.dataAlertForm.msgType" >
          <md-list-item ng-repeat="dataMsgTypeOption in alertForm.dataMsgTypeOptions" >
            <md-radio-button flex
                ng-value="dataMsgTypeOption['@value']"
                class="md-primary" >
                {{dataMsgTypeOption['@value']}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>
      </div>

      <div ng-hide="alertForm.checkPageShow('template')">  
        <md-subheader class="md-no-sticky">Templates ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('template')].loadData"></md-progress-linear>
        <md-list-item id="template-opt_{{dataTemplateOption['id']}}" class="template-opt unSelectedList" ng-repeat="dataTemplateOption in alertForm.dataTemplateOptions" ng-click="alertForm.clickTemplateOption($event,dataTemplateOption)">
          <p>{{dataTemplateOption.template_title}}</p>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.checkPageShow('location')">  
        <div ng-hide="alertForm.hidePagelocation[0]" layout="column">
            <md-subheader class="md-no-sticky">Location ({{alertForm.progressText}})</md-subheader>
            <md-progress-linear md-mode="indeterminate" ng-show="alertForm.renderingGeolocation"></md-progress-linear>
            <div id="mapThumbnail" style="height:100px;"></div>

            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" aria-label="Submit" ng-disabled="!alertForm.checkPredefinedAreaAvailableVal()" ng-click="alertForm.clickAddArea()">
                Predefined Area
                </md-button>
                <md-button class="md-raised md-accent" aria-label="Submit" ng-click="alertForm.clickShowMap()">
                Draw on map
                </md-button>  
            </div>
            
            <md-subheader ng-hide="alertForm.checkInsertedAreasVal()" class="md-no-sticky">New Area</md-subheader>
            <md-list-item ng-hide="alertForm.checkInsertedAreasVal()" ng-repeat="newArea in alertForm.newAreas" >
              <p>{{newArea.name}}</p>
              <ng-md-icon icon="edit" ng-click="alertForm.selectedArea(alertForm.newAreas.indexOf(newArea))" style="margin-right:20px;"></ng-md-icon>
              <ng-md-icon icon="delete" ng-click="alertForm.clickDeleteNewArea(alertForm.newAreas.indexOf(newArea))"></ng-md-icon>
            </md-list-item>
            <md-divider ng-hide="alertForm.checkPredefinedAreasVal()" ></md-divider>
            <md-subheader ng-hide="alertForm.checkPredefinedAreasVal()" class="md-no-sticky">Predefined Area</md-subheader>
            <md-list-item ng-hide="alertForm.checkPredefinedAreasVal()" ng-repeat="dataPredefinedAreaOption in alertForm.dataPredefinedAreaOptions" ng-if="dataPredefinedAreaOption.selected">
              <p>{{dataPredefinedAreaOption.name}}</p>
              <ng-md-icon icon="edit" ng-click="alertForm.clickAddArea()" style="margin-right:20px;"></ng-md-icon>
              <ng-md-icon icon="delete" ng-click="alertForm.clickDeletePredefinedArea(alertForm.dataPredefinedAreaOptions.indexOf(dataPredefinedAreaOption))"></ng-md-icon>
            </md-list-item>
        </div>

        <div ng-hide="alertForm.hidePagelocation[1]">  
            <md-subheader class="md-no-sticky">Predefined Area ({{alertForm.progressText}})</md-subheader>
            <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('location')].loadData"></md-progress-linear>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-accent" aria-label="Cancel"
                           ng-click="alertForm.clickCancelNewArea()">
                    Cancel
                </md-button>

                <md-button class="md-raised md-accent" aria-label="Submit" ng-disabled="alertForm.checkPredefinedAreasVal()" ng-click="alertForm.clickSubmitPredefinedArea()">
                    Submit
                </md-button>                          
            </div>
            <md-list-item ng-repeat="dataPredefinedAreaOption in alertForm.dataPredefinedAreaOptions" >
              <p>{{dataPredefinedAreaOption.name}}</p>
              <md-checkbox class="md-secondary" ng-model="dataPredefinedAreaOption.selected" ></md-checkbox>
            </md-list-item>
        </div>

        <div ng-hide="alertForm.hidePagelocation[2]">  
            <md-subheader class="md-no-sticky">Submit Area ({{alertForm.progressText}})</md-subheader>
            
            <form name="dataFormArea" class="md-inline-form" novalidate>
              <md-dialog-content>
                <div class="md-dialog-content" style="padding-left:15px;" >

                    <div layout="column" layout-gt-sm="column">

                        <md-input-container class="md-block">
                            <input type="text" name="area" ng-model="alertForm.newArea.name" placeholder="Area Name"
                               required>
                            <div ng-messages="dataFormArea.area.$error" ng-show="dataFormArea.area.$touched" role="alert">
                                <div ng-message="required">
                                    <span >Area field is required</span>
                                </div>
                            </div>
                        </md-input-container>
                        
                        <div layout="row" layout-align="center center">
                            <md-button class="md-raised md-accent" aria-label="Cancel"
                                       ng-click="alertForm.clickCancelNewArea()">
                                Cancel
                            </md-button>

                            <md-button class="md-raised md-accent" aria-label="Submit"
                                       ng-disabled="dataFormArea.$invalid || dataFormArea.$pristine" ng-click="alertForm.clickSubmitNewArea()">
                                Submit
                            </md-button>                          
                        </div>
                    
                        <h4></h4>
                    </div>

                </div>
              </md-dialog-content>
            </form>
        </div>
        
      </div>

      <div ng-hide="alertForm.checkPageShow('response-type')">  
        <md-subheader class="md-no-sticky">Response Type ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('response-type')].loadData"></md-progress-linear>
        <md-list-item ng-repeat="dataResponseTypeOption in alertForm.dataResponseTypeOptions" >
          <p>{{dataResponseTypeOption['@value']}}</p>
          <md-checkbox class="md-secondary" ng-model="dataResponseTypeOption.selected" ></md-checkbox>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.checkPageShow('warning-priority')">  
        <md-subheader class="md-no-sticky">Warning Priority ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('warning-priority')].loadData"></md-progress-linear>
        <md-radio-group ng-model="alertForm.dataAlertForm.warningPriority" >
          <md-list-item ng-repeat="dataWarningPriority in alertForm.dataWarningPrioritys" >
            <md-radio-button flex
                ng-value="dataWarningPriority['id']"
                class="md-primary"
                ng-click="alertForm.clickWarningPriority(alertForm.dataWarningPrioritys.indexOf(dataWarningPriority))" >
                {{dataWarningPriority['name']}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>

        <md-list-item ng-show="alertForm.showNoAvailableWarningPrioritys">
          <p>No data available</p>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.checkPageShow('scope')">  
        <md-subheader class="md-no-sticky">Scope ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('scope')].loadData"></md-progress-linear>
        <md-radio-group ng-model="alertForm.dataAlertForm.scope" >
          <md-list-item ng-repeat="dataScopeOption in alertForm.dataScopeOptions" >
            <md-radio-button flex
                ng-value="dataScopeOption['@value']"
                class="md-primary" >
                {{dataScopeOption['@value']}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>
      </div>

      <div ng-hide="alertForm.checkPageShow('addresses')">  
        <md-subheader class="md-no-sticky">Recipients ({{alertForm.progressText}})</md-subheader>
        <md-progress-linear md-mode="indeterminate" ng-show="alertForm.hidePage[alertForm.checkPageIdx('addresses')].loadData"></md-progress-linear>
        <md-list-item ng-repeat="dataGroupUser in alertForm.dataGroupUsers" >
          <p>{{dataGroupUser.name}}</p>
          <md-checkbox class="md-secondary" ng-model="dataGroupUser.selected" ></md-checkbox>
        </md-list-item>

        <md-list-item ng-show="alertForm.showNoAvailableGroupUsers">
          <p>No data available</p>
        </md-list-item>

      </div>

      <div ng-hide="alertForm.checkPageShow('date')">  
        <md-subheader class="md-no-sticky">Date ({{alertForm.progressText}})</md-subheader>
        <form name="dataForm" class="md-inline-form" novalidate>

          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                    <h5>On Set Date</h5>
                    <div layout="row">
                      <md-datepicker name="onSetDate" ng-model="alertForm.dataAlertForm.onSetDate" md-placeholder="Enter date"
                      md-min-date="minDate" md-max-date="maxDate" required></md-datepicker>
                      <div class="msgRequired" ng-messages="dataForm.onSetDate.$error" ng-show="dataForm.onSetDate.$touched" role="alert" >
                          <div ng-message="required">
                              <span >On Set date field is required</span>
                          </div>
                      </div>
                      <small><input type="time" style="width:83px;margin-top:25px;" name="effectiveTime" ng-model="alertForm.dataAlertForm.effectiveDate"
                        placeholder="HH:mm:ss" /></small>
                    </div>
                    <h4></h4>
                </div>

            </div>
          </md-dialog-content>
        </form>
      </div>

      <div ng-hide="alertForm.checkPageShow('parameter')">  
        <md-subheader class="md-no-sticky">Parameter ({{alertForm.progressText}})</md-subheader>
        <form name="dataForm" class="md-inline-form" novalidate>

          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                   
                    <div ng-repeat="parameter in alertForm.dataAlertForm.parameters">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>{{parameter.key}}</label>
                        <input ng-model="parameter.value">
                      </md-input-container>
                    </div>
                    
                                 
                </div>

            </div>
          </md-dialog-content>
        </form>
      </div>

      <div ng-hide="alertForm.checkPageShow('note')">  
        <md-subheader class="md-no-sticky">Note ({{alertForm.progressText}})</md-subheader>
        <form name="dataForm" class="md-inline-form" novalidate>

          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                    <md-input-container class="md-block" ng-show="alertForm.showRestriction()">
                        <input type="text" name="restriction" ng-model="alertForm.dataAlertForm.restriction" placeholder="Restriction">
                    </md-input-container>

                    <md-input-container flex>
                        <label>Headline</label>
                        <textarea ng-model="alertForm.dataAlertForm.headline" style="height:100px;" md-maxlength="140" rows="5">
                        </textarea>
                    </md-input-container>
                
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="alertForm.dataAlertForm.description"  style="height:100px;" rows="5">
                        </textarea>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Instruction</label>
                        <textarea ng-model="alertForm.dataAlertForm.instruction"  style="height:100px;" rows="5">
                        </textarea>
                    </md-input-container>
                    <!--<div>{{alertForm.responseDebug}}</div>-->
                                 
                </div>

            </div>
          </md-dialog-content>
        </form>
      </div>

      <div ng-hide="alertForm.checkPageShow('submit')">  
        <md-subheader class="md-no-sticky">Submit ({{alertForm.progressText}})</md-subheader>
        
        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('event-type')" class="md-title">Event Types</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('event-type')" ng-repeat="dataEventTypeOption in alertForm.dataEventTypeOptions" ng-if="dataEventTypeOption['@value'] == alertForm.dataAlertForm.eventType.id" >
          <img alt="{{ dataEventTypeOption.$ }}" ng-src="{{alertForm.evenTypeIcon(dataEventTypeOption.$)}}" class="md-avatar" />
          <p>{{dataEventTypeOption.$}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('status')" class="md-title">Status</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('status')" ng-repeat="dataStatusOption in alertForm.dataStatusOptions" ng-if="dataStatusOption['@value'] == alertForm.dataAlertForm.status">
          <p>{{dataStatusOption['@value']}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('msgType')" class="md-title">Message Type</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('msgType')" ng-repeat="dataMsgTypeOption in alertForm.dataMsgTypeOptions" ng-if="dataStatusOption['@value'] == alertForm.dataAlertForm.msgType">
          <p>{{dataMsgTypeOption['@value']}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('template')" class="md-title">Templates</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('template')" ng-repeat="dataTemplateOption in alertForm.dataTemplateOptions" ng-if="dataTemplateOption['id'] == alertForm.dataAlertForm.template.id">
          <p>{{dataTemplateOption.template_title}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('location')" class="md-title">Location</h4>
        <div id="mapThumbnailSummary" style="height:100px;"></div>
        <md-list-item ng-hide="alertForm.checkInsertedAreasVal()" ng-click="alertForm.summaryClickDetail('location')" ng-repeat="newArea in alertForm.newAreas" >
          <p>{{newArea.name}}</p>
        </md-list-item>
        <md-list-item ng-click="alertForm.summaryClickDetail('location')" ng-repeat="dataPredefinedAreaOption in alertForm.dataPredefinedAreaOptions" ng-if="dataPredefinedAreaOption.selected">
          <p>{{dataPredefinedAreaOption.name}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('response-type')" class="md-title">Response Type</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('response-type')" ng-repeat="dataResponseTypeOption in alertForm.dataResponseTypeOptions" ng-if="dataResponseTypeOption.selected">
          <p>{{dataResponseTypeOption['@value']}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('warning-priority')" class="md-title">Warning Priority</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('warning-priority')" ng-repeat="dataWarningPriority in alertForm.dataWarningPrioritys" ng-if="dataWarningPriority['id'] == alertForm.dataAlertForm.warningPriority">
          <p>{{dataWarningPriority['name']}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('scope')" class="md-title">Scope</h4>
        <md-list-item ng-click="alertForm.summaryClickDetail('scope')" ng-repeat="dataScopeOption in alertForm.dataScopeOptions" ng-if="dataScopeOption['@value'] == alertForm.dataAlertForm.scope">
          <p>{{dataScopeOption['@value']}}</p>
        </md-list-item>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-hide="alertForm.checkGroupUsersVal()" ng-click="alertForm.summaryClickDetail('addresses')" class="md-no-sticky">Recipients</h4>
        <md-list-item ng-hide="alertForm.checkGroupUsersVal()" ng-click="alertForm.summaryClickDetail('addresses')" ng-repeat="dataGroupUser in alertForm.dataGroupUsers" ng-if="dataGroupUser.selected">
          <p>{{dataGroupUser.name}}</p>
        </md-list-item>
        <md-divider ng-hide="alertForm.checkGroupUsersVal()" ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('note')" class="md-title">Note</h4>
        <form name="dataForm" class="md-inline-form" novalidate>
          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                  <strong ng-show="alertForm.showRestriction()">Restriction</strong>
                  <p ng-show="alertForm.showRestriction()">{{alertForm.dataAlertForm.restriction}}</p>
                  <strong>Headline</strong>
                  <p>{{alertForm.dataAlertForm.headline}}</p>
                  <strong>Description</strong>
                  <p>{{alertForm.dataAlertForm.description}}</p>
                  <strong>Instruction</strong>
                  <p>{{alertForm.dataAlertForm.instruction}}</p>
                </div>
            </div>
          </md-dialog-content>
        </form>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('date')" class="md-title">Date</h4>
        <form class="md-inline-form" novalidate>
          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                    <strong>On Set Date</strong>
                    <p>{{alertForm.dataAlertForm.onSetDate | date:'medium'}}</p>
                </div>

            </div>
          </md-dialog-content>
        </form>
        <md-divider ></md-divider>

        <h4 style="padding-left:15px;" ng-click="alertForm.summaryClickDetail('note')" class="md-title">Parameter</h4>
        <form name="dataForm" class="md-inline-form" novalidate>
          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                  <div ng-repeat="parameter in alertForm.dataAlertForm.parameters">
                    <strong>{{parameter.key}}</strong>
                    <p>{{parameter.value}}</p>
                  </div>
                </div>
            </div>
          </md-dialog-content>
        </form>
        <md-divider ></md-divider>

        

        <md-subheader class="md-no-sticky">You're login as</md-subheader>
        <md-list-item >
          <p>{{alertForm.username}}</p>
        </md-list-item>
        
        <form name="alertFormSbmt" class="md-inline-form" novalidate>

          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">

                    <md-input-container class="md-block">
                        <input type="password" name="password" ng-model="alertForm.password" placeholder="Password"
                               required>
                        <div ng-messages="alertFormSbmt.password.$error" ng-show="alertFormSbmt.password.$touched" role="alert">
                            <div ng-message="required">
                                <span >Password field is required</span>
                            </div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                      <md-button class="md-raised md-accent" aria-label="Cancel"
                               ng-click="alertForm.goHome()">
                        Cancel
                      </md-button>  
                      <md-button class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="alertFormSbmt.$invalid || alertFormSbmt.$pristine" ng-click="alertForm.submitForm()">
                        Submit
                      </md-button>  
                    </div>
                    
                    <h4></h4>
                    <h4></h4>
                </div>

            </div>
          </md-dialog-content>
        </form>
      </div>

      </md-whiteframe>
    <div flex="5"></div>
  </div>
  <div class="spaceBottom"></div>
</md-content>
<!--<md-button class="md-primary md-fab md-fab-bottom-right"> FAB </md-button>-->

