
<style type="text/css">
  .msgRequired{color:#c9161c;font-size:small;}
</style>
<md-toolbar class="mainToolbar" flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button ng-click="alertForm.goBack()"> {{alertForm.btnBackName}} </md-button>
    <p>{{ alertForm.title }}</p>
    <md-button ng-disabled="alertForm.disabledNextBtn()" ng-click="alertForm.goNext()"> {{alertForm.btnNextName}} </md-button>
    
  </div>
  <!-- ADD FILE BUTTON -->
  <md-button class="add-file-button md-fab md-warn addTopButton" ng-hide="alertForm.hidePage[2]" aria-label="Add file" ng-click="alertForm.addArea()">
      <ng-md-icon icon="add"></ng-md-icon>
  </md-button>
  <!-- / ADD FILE BUTTON -->
</md-toolbar>

<md-content class="content" layout="column" md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()" flex>
  <div class="spaceTop"></div>
  <div layout="row">
    <div flex="5"></div>
      <md-whiteframe class="md-whiteframe-3dp" layout="column" flex="90">

      <md-progress-linear md-mode="determinate" value="{{alertForm.progress}}"></md-progress-linear>
      <div ng-hide="alertForm.hidePage[0]">  
        <md-subheader class="md-no-sticky">Event Types ({{alertForm.progressText}})</md-subheader>
        <md-list-item ng-repeat="dataEventTypeOption in alertForm.dataEventTypeOptions" ng-click="alertForm.clickEventTypeOption($event,{id:dataEventTypeOption['@value'],name:dataEventTypeOption['$']})">
          <img alt="{{ dataEventTypeOption.$ }}" ng-src="assets/images/disaster/27832-200.png" class="md-avatar" />
          <p>{{dataEventTypeOption.$}}</p>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.hidePage[1]">  
        <md-subheader class="md-no-sticky">Templates ({{alertForm.progressText}})</md-subheader>
        <md-list-item ng-repeat="dataTemplateOption in alertForm.dataTemplateOptions" ng-click="alertForm.clickTemplateOption($event,{id:dataTemplateOption['id'],name:dataTemplateOption.template_title})">
          <img alt="{{ dataTemplateOption.template_title }}" ng-src="assets/images/disaster/27832-200.png" class="md-avatar" />
          <p>{{dataTemplateOption.template_title}}</p>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.hidePage[2]">  
        <md-subheader class="md-no-sticky">Location ({{alertForm.progressText}})</md-subheader>
        <md-list-item ng-repeat="dataPredefinedAreaOption in alertForm.dataPredefinedAreaOptions" >
          <p>{{dataPredefinedAreaOption.name}}</p>
          <md-checkbox class="md-secondary" ng-model="dataPredefinedAreaOption.selected" ></md-checkbox>
        </md-list-item>
      </div>

      <div ng-hide="alertForm.hidePage[3]">  
        <md-subheader class="md-no-sticky">Date ({{alertForm.progressText}})</md-subheader>
        <form id="dataForm"  name="dataForm" class="md-inline-form" novalidate>

          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                    <h5>Effective Date</h5>
                    <md-datepicker name="effectiveDate" ng-model="alertForm.dataAlertForm.effectiveDate" md-placeholder="Enter date"
                    md-min-date="minDate" md-max-date="maxDate" required></md-datepicker>
                    <div class="msgRequired" ng-messages="dataForm.effectiveDate.$error" ng-show="dataForm.effectiveDate.$touched" role="alert" >
                        <div ng-message="required">
                            <span >Effective date field is required</span>
                        </div>
                    </div>

                    <h5>Expire Date</h5>
                    <md-datepicker name="expireDate" ng-model="alertForm.dataAlertForm.expireDate" md-placeholder="Enter date"
                    md-min-date="minDate" md-max-date="maxDate" required></md-datepicker>
                    <div class="msgRequired" ng-messages="dataForm.expireDate.$error" ng-show="dataForm.expireDate.$touched" role="alert" >
                        <div ng-message="required">
                            <span >Expire date field is required</span>
                        </div>
                    </div>
                
                    <h4></h4>
                </div>

            </div>
          </md-dialog-content>
        </form>
      </div>

      <div ng-hide="alertForm.hidePage[4]">  
        <md-subheader class="md-no-sticky">Warning Priority ({{alertForm.progressText}})</md-subheader>
        <md-radio-group ng-model="alertForm.dataAlertForm.warningPriority" >
          <md-list-item ng-repeat="dataWarningPriority in alertForm.dataWarningPrioritys" >
            <md-radio-button flex
                ng-value="dataWarningPriority['id']"
                class="md-primary"
                ng-click="alertForm.clickWarningPriority(alertForm.dataWarningPrioritys.indexOf(dataWarningPriority))" >
                {{dataWarningPriority['name']}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>
      </div>

      <div ng-hide="alertForm.hidePage[5]">  
        <md-subheader class="md-no-sticky">Severity ({{alertForm.progressText}})</md-subheader>
        <md-radio-group ng-model="alertForm.dataAlertForm.scope" >
          <md-list-item ng-repeat="dataScopeOption in alertForm.dataScopeOptions" >
            <md-radio-button flex
                ng-value="dataScopeOption['@value']"
                class="md-primary" >
                {{dataScopeOption['@value']}}
            </md-radio-button>
          </md-list-item>
        </md-radio-group>
      </div>

      <div ng-hide="alertForm.hidePage[6]">  
        <md-subheader class="md-no-sticky">Note ({{alertForm.progressText}})</md-subheader>
        <form id="dataForm"  name="dataForm" class="md-inline-form" novalidate>

          <md-dialog-content>
            <div class="md-dialog-content" style="padding-left:15px;" >

                <div layout="column" layout-gt-sm="column">
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="alertForm.dataAlertForm.description" columns="4" md-maxlength="150" rows="5"></textarea>
                    </md-input-container>
                    <!--<div>{{alertForm.responseDebug}}</div>-->
                    <h4></h4>
                    <h4></h4>

                    <md-button class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="alertForm.disabledNextBtn()" ng-click="alertForm.submitForm()">
                        Submit
                    </md-button>
                
                    <h4></h4>
                    <h4></h4>
                </div>

            </div>
          </md-dialog-content>
        </form>
      </div>

      </md-whiteframe>
    <div flex="5"></div>
  </div>
  <div class="spaceBottom"></div>
</md-content>
<!--<md-button class="md-primary md-fab md-fab-bottom-right"> FAB </md-button>-->

